# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Entornos virtuales
venv/
.env
.venv/
env/

# Flask
instance/
.webassets-cache

# Logs
*.log

# VSCode
.vscode/
tempCodeRunnerFile.py

# OS
.DS_Store
Thumbs.db
